body {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0;
  flex-direction: column;
  align-items: center;
}

a {
  text-decoration: none;
  color: inherit;
}

.container-col {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: aqua;
  align-items: center;
}

.nav {
  padding-left: 15px;
  display: flex;
  position: fixed;
  top: 0;
  background-color: white;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-right: 0px;
  border-bottom: 1px solid gray;
  padding-right: 10px;
}

.btn-container {
  padding-right: 10px;
  display: flex;
  justify-content: space-evenly;
  width: 15%;
}

.btn {
  padding: 13px 13px 5px 13px;
  font-size: 11px;
  border-radius: 3px;
  background-color: rgb(86, 123, 149);
  border: 1px solid rgb(50, 104, 145);
  color: white;
  font-weight: bold;
}

.nav > .img {
  margin-right: -14.5%;
}

.text h1 {
  width: 70%;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: italic;
  line-height: 50px;
  display: inline-block;
  margin-bottom: 15px;
  font-size: 40px;
  text-align: left;
}

.text {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  text-align: center;
  /* border-top: 100px solid gray; */
}

.text .p {
  display: inline-block;
}

.container {
  background-color: blueviolet;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.icon {
  padding: 10px;
  /* cursor: pointer; */
  /* display: flex; */
  /* flex-direction: column;
  justify-content: space-between;
  margin: 0px; */
}

#main-img {
  width: 700px;
}

.img {
  width: 200px;
}

.container-col.aside-main {
  float: right;
  top: 1500px;
  right: 0;
}
